<%= form_with(model: @artical, local: true) do |form| %>
  <% if @artical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artical.errors.count, "error") %> prohibited this artical from being saved:</h2>

      <ul>
        <% artical.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
  </div>  

  <div class="field text-center">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>
